<div class="header">
    <!-- Utilizando angular. -->
    <div class="area-do-header" *ngIf="!this.fullScreen">
        <div class="header-media">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list"
                color="white" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </div>
    </div>
    <div class="area-do-header" *ngIf="this.fullScreen">
        <div class="container">
            <div class="div-transform">
                <div role="button" class="card card-1" *ngFor="let item of listHeader">
                    <span class="btn-title">{{item.title}}</span>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="content" style="padding-inline: 2%">
    <div class="word-waves">
        <span>CLAIVER ARAUJO Claiver gay</span>
        <span>CLAIVER ARAUJO</span>
    </div>
</div>

<div style="display: flex;">
    <div class="">
        Um desenvolvedor de Software, com experiência de atuação em alguns projetos de clientes de distintos segmentos.
        Iniciando como profissional em desenvolvimento em janeiro de 2021, me reconheço como entusiasta em novas
        tecnologias do mercado, com
        aprendizado adquirido dia após dia. <br><br>

        Possuo foco em desenvolvimento com Javascript, TypeScript, Angular, NodeJS e atualmente em grande foco .NET
        dentre outras
        tecnologias que uso para criar aplicações web.<br><br>

        Me considero ágil e consistente em aprender uma nova tecnologia e alta adaptabilidade às mudanças, pronto para
        superar qualquer desafio!<br><br>
    </div>
    <div style="margin-top:60px ; padding-inline-start: 0%; color: white;  text-align: justify; text-size: 25px">
        Um desenvolvedor de Software, com experiência de atuação em alguns projetos de clientes de distintos segmentos.
        Iniciando como profissional em desenvolvimento em janeiro de 2021, me reconheço como entusiasta em novas
        tecnologias do mercado, com
        aprendizado adquirido dia após dia. <br><br>

        Possuo foco em desenvolvimento com Javascript, TypeScript, Angular, NodeJS e atualmente em grande foco .NET
        dentre outras
        tecnologias que uso para criar aplicações web.<br><br>

        Me considero ágil e consistente em aprender uma nova tecnologia e alta adaptabilidade às mudanças, pronto para
        superar qualquer desafio!<br><br>
    </div>
    <div style="margin-top:60px ; padding-inline-end: 2%; color: white;  text-align: justify; text-size: 25px">
        Um desenvolvedor de Software, com experiência de atuação em alguns projetos de clientes de distintos segmentos.
        Iniciando como profissional em desenvolvimento em janeiro de 2021, me reconheço como entusiasta em novas
        tecnologias do mercado, com
        aprendizado adquirido dia após dia. <br><br>

        Possuo foco em desenvolvimento com Javascript, TypeScript, Angular, NodeJS e atualmente em grande foco .NET
        dentre outras
        tecnologias que uso para criar aplicações web.<br><br>

        Me considero ágil e consistente em aprender uma nova tecnologia e alta adaptabilidade às mudanças, pronto para
        superar qualquer desafio!<br><br>
    </div>
</div>