<div class="header">
    <!-- Utilizando angular. -->
    <!-- <div class="area-do-header" *ngIf="this.mobile">
        <div class="header-media">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list"
                color="white" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </div>
    </div> -->
    <div class="area-do-header">
        <div class="container">
            <div class="div-transform">
                <div *ngFor="let item of listHeader">
                    <app-ca-button [rota]="item.rota" [title]="item.title" [ordem]="item.ordem"
                        width="{{ mobile? '25px':hdResolution?'80px':'120px'}}" [ngStyle]="{'font-size':  mobile? '10px':''}"></app-ca-button>
                    <div class="{{item.rota == atual? 'selecionado':''}}"></div>
                </div>
            </div>
        </div>
    </div>