:root {
    --ca-color-white: #fff;
    --ca-color-gray: gray;
    --ca-color-dark: rgb(19, 19, 19);
    --ca-color-dark1: rgb(39, 39, 39);
    --ca-color-dark2: #2d2d2d;
    --ca-color-dark3: #414141;
    --ca-color-dark4: #1c1c1c;
    --ca-color-dark5: #343434;
    --ca-color-purple: #9580ff;
    --ca-color-purple1: rgb(100, 81, 196);
    --ca-color-purple2: rgb(79, 65, 150);
    --ca-color-purple3: rgb(52, 43, 99);
    --ca-color-purple4: rgb(29, 23, 54);
    background-color: var(--ca-color-dark);
  }

